@addTagHelper "*, TagHelperSamples.Markdown"
@{
    ViewData["Title"] = "Read";
}
@model OpenViewModel
<div class="row flex-column mt-3">
    <h3 class="align-self-center">@Model.Fanfic.Name</h3>
</div>
<div class="row p-4">
    <div class="col-md-3 p-0">
        <div class="Chapters d-flex flex-column mt-2  position-fixed border pr-4 pt-2">
            <ol>
                @if (Model.Fanfic.Chapters != null)
                {
                    @foreach (Chapter ch in Model.Fanfic.Chapters)
                    {
                        <li><a asp-action="ReadChapter" asp-controller="FanFic" asp-route-idfanfic="@Model.Fanfic.Id" asp-route-idchapter="@ch.Id">@ch.Caption</a></li>
                    }
                }
            </ol>
        </div>
    </div>
    <div class="col-md h-100">
        <h4>@Model.Chapter.Caption</h4>
        @if (Model.Chapter.Picture != null)
        {
            <div class="d-flex align-items-center w-100">
                <img class="w-100" src="@Model.Chapter.Picture" />
            </div>
        }
        <div class="mt-3 mb-2">
            <span markdown> @Model.Chapter.Text </span>
        </div>
        <div class="w-100 d-flex justify-content-around align-items-center mt-1">
            <a asp-controller="fanfic" asp-action="openNext" asp-route-idfanfic="@Model.Fanfic.Id" asp-route-idchapter="@Model.Chapter.Id" class="btn btn-secondary" value="Save">Next</a>
            <a asp-controller="fanfic" asp-action="openPrevious" asp-route-idfanfic="@Model.Fanfic.Id" asp-route-idchapter="@Model.Chapter.Id" class="btn btn-secondary" value="Save">Previous</a>
        </div>
     </div>
</div>
<script src="~/js/CreateChapter.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
